.list-group-item {
  text-decoration: none !important;
  color: rgb(73, 73, 73);
}

.info {
  border: none; 
  background-color: white !important; 
  /* box-shadow: 0 0 2px rgba(119, 119, 119, 0.295); */
  font-weight: 500;
}

.content {
  background-color: rgba(245, 245, 245, 0.295);
  box-shadow: 0 2px 3px rgba(161, 161, 161, 0.377);
}

.fa-step-backward, .fa-chevron-left, .fa-chevron-right, .fa-step-forward {
	font-size: 12px;
	color: gray;
}

#menu{
	color: white;
	background-image: linear-gradient(to right, #355c7d,#6c5b7b, #c06c84);
}

#brand {
	background-image: linear-gradient(to right, #391B38, #0D1A37);
	color: white;
}

.page-link {
	color: gray;
}




/*2 button next $ preview*/


.canhletrai{
	margin-left: 80px;	
}
.canhlephai {
    margin-right: 80px;			    
}
.padletrai{
	padding-left: 80px;	
}

.chu {
     font-size: 20px;	    
}

.cartorder{
	display: flex;
}

.scaleimg:hover{
	scale: 0.9;
	transition: 1s;
}
.scaleamountblack{
	font-size: 12px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  	
}

.sticky + .content {
  padding-top: 102px;
  	
}

@media screen and (max-width: 1500px){
            .scalename{
				font-size: 15px;	
				transition: 1s;	
			}
			.scaleamount{
				font-size: 15px;	
				transition: 1s;	
			}
			.scaleamountblack{
				font-size: 10px;	
				transition: 1s;	
			}
        }
        
@media screen and (max-width: 1000px){
            .hidden2 {
                position: absolute;
			    top: -9999px;
			    left: -9999px;
			   
                
            }
            .slidee {
                width: 100%;

            }
            .canhletrai {
                margin-left: 50px;		
                transition: 1s;	    
            }
            .canhlephai {
                margin-right: 50px;		
                transition: 1s;	    
            }
            .padletrai{
				padding-left: 50px;	
				transition: 1s;	
			}
			.chu {
                font-size: 15px;	
                transition: 1s;	 
                  
            }
            .scalename{
				font-size: 25px;	
				transition: 1s;	
			}
			.scaleamount{
				font-size: 25px;	
				transition: 1s;	
			}
			.scaleamountblack{
				font-size: 12px;	
				transition: 1s;	
			}
        }
@media screen and (max-width: 600px){
            .hidden1 {
                position: absolute;
			    top: -9999px;
			    left: -9999px;	
			    			    
            }
            .canhletrai {
                margin-left: 20px;	
                transition: 1s;		    
            }
            .canhlephai {
                margin-right: 20px;		
                transition: 1s;	    
            }
            .padletrai{
				padding-left: 20px;	
				transition: 1s;	
			}
			
            .chu {
                font-size: 15px;	
                transition: 1s;	 
            }
            .cartorder{
				display: flex;
				flex-direction: column;
				transition: 1s;	
			}
        }

        
