<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
	<footer th:fragment="footer" style="box-shadow: 5px 6px 10px 10px #A342B3;">
        <div style="display: flex; padding-top: 50px; padding-bottom: 20px;" class="row col-12 padletrai">
            <div style="display: flex; flex-direction: column;" class="col-sm">
                <h4>CÔNG TY TNHH PUMPKIN HOUSE</h4>
                <span style="padding-bottom: 5px;"><strong>Showroom Đà Nẵng:</strong> 38 Yên Bái, Quận Hải Châu, Thành Phố Đà Nẵng (Tòa nhà VNPT)</span>
                <span style="padding-bottom: 5px;"><strong>Hotline:</strong> 0236.386.8888</span>
                <span style="padding-bottom: 5px;">Phản hồi chất lượng nhân viên: phuong.xvdn@gmail.com - Hotline: 0914.553.222</span>
                <span style="padding-bottom: 5px;">Mọi trao đổi xin liên hệ email: binh.xvdn@gmail.com & phuong.xvdn@gmail.com</span>
                <span style="padding-bottom: 5px;"><strong>Mã số thuế:</strong> 0400557356</span>
            </div>
            <div style="display: flex; flex-direction: column;" class="col-sm offset-sm-2">
                <h4>CUSTOMER CARE</h4>
                <span style="padding-bottom: 5px; color: rgb(129, 126, 126);">Trung tâm trợ giúp</span>
                <span style="padding-bottom: 5px; color: rgb(129, 126, 126);">Theo dõi đơn hàng của bạn</span>
            </div>
            <div style="display: flex; flex-direction: column;" class="col-sm offset-sm-2">
                <div style="display: flex; flex-direction: column; color: rgb(129, 126, 126);">
                    <h4 style="color: black;">GIỚI THIỆU</h4>
                    <span style="padding-bottom: 5px;">Pumpkin house</span>
                    <span style="padding-bottom: 5px;">Điều khoản bảo mật</span>
                    <span style="padding-bottom: 5px;">Quy định bảo hành</span>
                    <span style="padding-bottom: 5px;">Hình thức thanh toán</span>
                    <span style="padding-bottom: 5px;">Trả hàng và hoàn tiền lại</span>
                </div>
            </div>
        </div>
        <div class="padletrai" style="display: flex; background-image: linear-gradient(to right, #391B38, #0D1A37); color: white;height: 50px; align-items: center;">
            <span>Bản quyền thuộc về Công ty TNHH Pumpkin house | Powered by Aptech</span>
        </div>
        
    </footer>
</body>

</html>