USE [PUMPKINSTORE]
GO
/****** Object:  Table [dbo].[approle]    Script Date: 25/9/2022 7:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[approle](
	[role_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[categories]    Script Date: 25/9/2022 7:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[customers]    Script Date: 25/9/2022 7:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](1000) NOT NULL,
	[admin] [bit] NULL,
	[auth_provider] [varchar](255) NULL,
	[email] [nvarchar](100) NOT NULL,
	[gender] [bit] NULL,
	[image] [varchar](200) NULL,
	[name] [nvarchar](100) NOT NULL,
	[password] [varchar](4000) NOT NULL,
	[phone] [varchar](20) NULL,
	[register_date] [date] NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orderdetails]    Script Date: 25/9/2022 7:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdetails](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [float] NOT NULL,
	[order_id] [int] NULL,
	[product_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orders]    Script Date: 25/9/2022 7:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[amount] [float] NOT NULL,
	[order_date] [date] NULL,
	[status] [smallint] NOT NULL,
	[customer_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[producers]    Script Date: 25/9/2022 7:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producers](
	[producer_id] [bigint] IDENTITY(1,1) NOT NULL,
	[producer_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[producer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[products]    Script Date: 25/9/2022 7:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[brief] [nvarchar](4000) NOT NULL,
	[description] [ntext] NOT NULL,
	[discount] [float] NOT NULL,
	[entered_date] [date] NULL,
	[image] [varchar](200) NULL,
	[name] [nvarchar](100) NOT NULL,
	[quantity] [int] NOT NULL,
	[quantityorder] [int] NULL,
	[status] [smallint] NOT NULL,
	[unit_price] [float] NOT NULL,
	[category_id] [bigint] NULL,
	[producer_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[userrole]    Script Date: 25/9/2022 7:49:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userrole](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_id] [bigint] NULL,
	[customer_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[approle] ON 

INSERT [dbo].[approle] ([role_id], [name]) VALUES (1, N'ROLE_ADMIN')
INSERT [dbo].[approle] ([role_id], [name]) VALUES (2, N'ROLE_USER')
SET IDENTITY_INSERT [dbo].[approle] OFF
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (1, N'Laptop')
INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (2, N'Keyboard')
INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (3, N'Mouse')
SET IDENTITY_INSERT [dbo].[categories] OFF
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([customer_id], [address], [admin], [auth_provider], [email], [gender], [image], [name], [password], [phone], [register_date], [status]) VALUES (1, N'Đà Nẵng', 0, NULL, N'pumpkinshouse07@gmail.com', 1, N'dai.jpg', N'Pumkins Store', N'$2a$10$zOEu5ole2SjRdFdkLUB7c.bK34ltvdBxtUYRgNXlB6tSYuYUTNEr2', N'0905456789', CAST(N'2022-09-25' AS Date), 1)
INSERT [dbo].[customers] ([customer_id], [address], [admin], [auth_provider], [email], [gender], [image], [name], [password], [phone], [register_date], [status]) VALUES (2, N'39 Tạ Hiện, phường Hòa Cường, Đà Nẵng', 0, NULL, N'ocyeudoi@gmail.com', 1, N'1.jpg', N'Huỳnh Ngọc Thảo', N'$2a$10$onncCvlcCp1QF1FP/MacaOPhJA6zFtK7kgB9PYRTLc83jieH9Vo7u', N'0763869084', CAST(N'2022-09-25' AS Date), 1)
INSERT [dbo].[customers] ([customer_id], [address], [admin], [auth_provider], [email], [gender], [image], [name], [password], [phone], [register_date], [status]) VALUES (3, N'Hồ Chí Minh', 0, NULL, N'phambang@gmail.com', 0, N'3.jpg', N'Phạm Băng', N'$2a$10$e9UbK5tE1a71LYTZ0mgHROGG16.G2I.U1aIi9V3Z2osDvWNhFFERO', N'0987654321', CAST(N'2022-09-25' AS Date), 1)
SET IDENTITY_INSERT [dbo].[customers] OFF
SET IDENTITY_INSERT [dbo].[orderdetails] ON 

INSERT [dbo].[orderdetails] ([order_detail_id], [quantity], [unit_price], [order_id], [product_id]) VALUES (1, 1, 58550400, 1, 7)
INSERT [dbo].[orderdetails] ([order_detail_id], [quantity], [unit_price], [order_id], [product_id]) VALUES (2, 1, 1190000, 2, 34)
INSERT [dbo].[orderdetails] ([order_detail_id], [quantity], [unit_price], [order_id], [product_id]) VALUES (3, 1, 1490000, 3, 46)
SET IDENTITY_INSERT [dbo].[orderdetails] OFF
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [amount], [order_date], [status], [customer_id]) VALUES (1, 58550400, CAST(N'2021-09-22' AS Date), 2, 2)
INSERT [dbo].[orders] ([order_id], [amount], [order_date], [status], [customer_id]) VALUES (2, 1190000, CAST(N'2022-01-24' AS Date), 2, 2)
INSERT [dbo].[orders] ([order_id], [amount], [order_date], [status], [customer_id]) VALUES (3, 1490000, CAST(N'2022-03-12' AS Date), 2, 2)
SET IDENTITY_INSERT [dbo].[orders] OFF
SET IDENTITY_INSERT [dbo].[producers] ON 

INSERT [dbo].[producers] ([producer_id], [producer_name]) VALUES (1, N'MSI')
INSERT [dbo].[producers] ([producer_id], [producer_name]) VALUES (2, N'ASUS')
INSERT [dbo].[producers] ([producer_id], [producer_name]) VALUES (3, N'DELL')
SET IDENTITY_INSERT [dbo].[producers] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
SET IDENTITY_INSERT [dbo].[userrole] ON 

INSERT [dbo].[userrole] ([id], [role_id], [customer_id]) VALUES (1, 1, 1)
INSERT [dbo].[userrole] ([id], [role_id], [customer_id]) VALUES (2, 2, 1)
INSERT [dbo].[userrole] ([id], [role_id], [customer_id]) VALUES (3, 2, 2)
SET IDENTITY_INSERT [dbo].[userrole] OFF
ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [FK92im1bt9gndrexccag7x5oq92] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [FK92im1bt9gndrexccag7x5oq92]
GO
ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [FKhnsosbuy7bhpqpnt3bjr7sh8x] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [FKhnsosbuy7bhpqpnt3bjr7sh8x]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKpxtb8awmi0dk6smoh2vp1litg] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKpxtb8awmi0dk6smoh2vp1litg]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKponvuhms7f447e47sn69rs5gf] FOREIGN KEY([producer_id])
REFERENCES [dbo].[producers] ([producer_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKponvuhms7f447e47sn69rs5gf]
GO
ALTER TABLE [dbo].[userrole]  WITH CHECK ADD  CONSTRAINT [FK38ckh2fmo6fe2spbq2wyshvbw] FOREIGN KEY([role_id])
REFERENCES [dbo].[approle] ([role_id])
GO
ALTER TABLE [dbo].[userrole] CHECK CONSTRAINT [FK38ckh2fmo6fe2spbq2wyshvbw]
GO
ALTER TABLE [dbo].[userrole]  WITH CHECK ADD  CONSTRAINT [FKdgxlpklearhjjdun4s4123a64] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[userrole] CHECK CONSTRAINT [FKdgxlpklearhjjdun4s4123a64]
GO
